!!!
%html{:lang => "de"}
  %head
    %title Its ze Backend
    - if Habitat.quart.production?
      %link{:href => "/assets/screen.css", :type => "text/css", :rel => "stylesheet"}

  %body.backend
    .container.grid-xl
      .columns
        .column.col-2.nav-col
          = render template: "layout/_header"
        .column.col-10.rel
          = yield
  %script{:src => '/assets/bundle.js'}
