!!!
%html{:lang => "de"}
  %head
    %title Its ze Backend
    - if Habitat.quart.production?
      %link{:href => url_with_calculated_version_hash("/assets/screen-be.css"), :type => "text/css", :rel => "stylesheet"}

  %body.backend
    .container.grid-xl
      .columns.col-gapless
        .column.col-2
          .navigation-block
            = render template: "layout/_header"
        .column.col-10.rel.main-content
          = yield

  %script{:src => url_with_calculated_version_hash('/assets/bundle-be.js')}
