.backend-page-header
  %h1= t("t-page-topic-edit")

#db-snippets.main-content-block
  %ul.main-listing.single
    = render template: "t/_t", locals: { trans: trans }

  = render template: "t/_form", locals: { trans: trans, action: routes.tCreateEdit_path(trans.key) }
