#db-stars-form
  %form{method: :post, action: action, enctype: 'multipart/form-data'}
    .container
      .columns
        .column.col-6
          .form-group
            .input-group
              %span.input-group-addon
                Ident
              - if star
                %input.form-input{:value => star.ident, :disabled => :disabled, :style => "width:100%"}
              - else
                %input.form-input{:value => "", :name => :ident, :style => "width:100%"}
        .column.col-6
          = t("star-help-ident")

        .column.col-6.top-seperator
          %input.form-input{:type => :file, :name => :image, :name => :image}
        .column.col-6.top-seperator
          %select.form-input{:name => :stars}
            - (1..5).to_a.reverse.each do |n|
              %option{:value => n}= n

        .column.col-6.top-seperator
          %input.form-input{:name => :url, :name => :url, :value => (star and star.url ? star.url : "") }
        .column.col-6.top-seperator
          = t("star-help-url")

        .column.col-12.top-seperator

          .form-group
            %textarea#star-form.form-input.cm-form{:rows => 15, :name => :content, "data-codemirror-mode" => "text/x-markdown"}= (star && star.content || "")

        .column.col-12.text-center.top-seperator
          %input.btn.btn-primary{:type => :submit, :value => "Absenden"}    
