%li.snippet
  - glyphcls = snippet.kind_of?(Snippets::MarkdownSnippet) ? "glyphicon glyphicon-star-empty" : "glyphicon glyphicon-star"
  
  %span{:class => glyphcls}
  
  %a{:href => routes.snippetEdit_path(snippet.ident)}
    %span{:class => "glyphicon glyphicon-pencil"}

  %a{:href => routes.snippet_path(snippet.ident)}
    = snippet.ident

