.backend-page-header
  %h1= t("snippets-page-topic-index")

#db-snippets.main-content-block
  %ul.main-listing
    - pager.each do |snippet|
      = render template: "snippets/_snippet_preview", locals: {snippet: snippet}
  - if snippets.empty?
    .info= t("common-nothing-here-yet")
  - else
    = pager.navigation
