.backend-page-header
  %h1= t("snippets-page-topic-show")

#db-snippets
  %ul.main-listing.single
    = render template: "snippets/_snippet", locals: {snippet: snippet }

  .container
    .columns
      .column.col-12
        #db-snippet-content
          .container
            = snippet.render
