#db-fell-edit
  %form{:action => action, :method => :post, enctype: 'multipart/form-data'}
    - unless fell
      %input{:type => :hidden, :name => :create, :value => 1}
    .container.top-seperator
      .columns
        .column.col-8
          .columns
            .column.col-8
              .input-group
                %span.input-group-addon
                  Name
                %input.form-input{:type => :text, :name => :name, :value => (fell && fell.name), :name => :name}
            .column.col-4
              .input-group
                %span.input-group-addon
                  State
                %select.form-select{:name => :state}
                  - Felle::Fell::STATES.each_pair do |state, sv|
                    %option{:value => state}= sv
          .columns.top-seperator
            .column.col-6
              .form-group
                %label.form-label.form-inline{:for => :title} Gender
                %label.form-radio.form-inline
                  %input{checked(fell && fell.gender == "1").merge(:type => :radio, :value => 1, :name => :gender)}
                  %i.form-icon
                  Female
                %label.form-radio.form-inline
                  %input{checked(fell && fell.gender == "0").merge(:type => :radio, :value => 0, :name => :gender)}
                  %i.form-icon
                  Male
            .column.col-6
              .form-label{:for => :panorama_image} Header Image
              %input.form-input{ :type => :file, :name => :panorama_image}
          .columns.top-seperator
            .column.col-6
              .input-group
                %span.input-group-addon
                  Breed
                %input.form-input{:type => :text, :value => (fell && fell.breed), :name => :breed}
            .column.col-6
              .input-group
                %span.input-group-addon                
                  Origin
                %input.form-input.form-inline{:type => :text, :value => (fell && fell.origin), :name => :origin}

          .columns.top-seperator
            .column.col-6
              .input-group
                .input-group-addon
                  BDay Start
                %input.form-input.input-tagline{:type => :date, :value => date_value(fell && fell.birthday.value_start), :name => :datestart}
            .column.col-6
              .input-group
                .input-group-addon
                  BDay End
                %input.form-input.input-tagline{:type => :date, :value => date_value(fell && fell.birthday.value_end), :name => :dateend}

        .column.col-4
          - Felle::Fell::Attributes.each do |attr|
            %label.form-switch
              %input{checkbox(fell, attr, fell && fell.attributes[attr] || 1)}
              %i.form-icon
              = attr
      .columns.top-seperator
        .column.col-8.text-right
          %input.btn.btn-primary{:type => :submit, :value => "Absenden"}
            
