%li.fell-preview
  .container
    .columns
      .column.col-3<
        - if fell.header_image
          %img.img-responsive{:src => fell.images.first.url}
      .column.col-8<
        %h3.text-elipsis<
          %a{:href => routes.felleEdit_path(fell.slug)}= fell.name

        %p<
          -# %a{:href => Web.routes.fell_path(fell.stateslug, fell.slug)} #
          %a{:href => Web.routes.fell_path(fell.slug)} #
