#db-post-edit
  .container
    .columns
      .column.col-12
        %form{:action => action, :method => :post, enctype: 'multipart/form-data'}
          .form-group
            .form-label{:for => :title} Title
            %input.form-input{:type => :text, :id => :title, :value => (post && post.title), :name => :title}
    
            .form-label{:for => :tags} Tags
            %input.form-input.input-tagline{:type => :text, :id => :tags, :value => (post && post.tags.join(",")), :name => :tags}

            .form-label{:for => :tags} Header Image
            %input.form-input{:type => :file, :name => :image, :name => :image}

            .form-label{:for => :text} Text
            %textarea#blog-post-form.form-input.cm-form{:rows => 15, :name => :content, "data-codemirror-mode" => "text/x-markdown"}= (post && post.content)
      
            %input.btn.btn-primary{:type => :submit, :value => "Absenden"}
