%li.post-preview{:class => post.css_class }
  .container
    .columns
      .column.col-3
        - if post.image
          %img.img-responsive{:src => post.image.url}
      .column.col-9
        %h3.post-title.text-ellipsis
          %a{:href => routes.post_path(post.slug)}= post.title
          .post-info
            = backend_module_info(post)
  .post-controls
    .published
      %a{:href => routes.postPublish_path(post.slug)}
        - if post.draft?
          .glyphicon.glyphicon-ok
        - else
          .glyphicon.glyphicon-remove
    .edit
      %a{:href => routes.postEdit_path(post.slug)}
        .glyphicon.glyphicon-pencil
