- posts = posts_for_template(template)
%li.template
  .container
    .columns
      .column.col-3
        %strong
          %a{:href => routes.template_path(template.identifier)}
            %span.glyphicon.glyphicon-folder-close
            = template.identifier
      .column.col-8
        .posts-for-template
          - posts.each do |pst|
            %a{:href => routes.post_path(pst.slug) }= pst.title
      .column.col-1
        - if posts.length == 0
          %a.text-warning{:title => "delete", :href => routes.templateDelete_path(template.identifier)}
            %span.glyphicon.glyphicon-remove
        %a{:title => "duplicate", :href => routes.templateDuplicate_path(template.identifier)}
          %span.glyphicon.glyphicon-repeat
