#add-date-template{style: "display: none"}
  .columns.top-seperator
    .column.col-2
    .column.col-4
      .form-group
        .input-group
          %span.input-group-addon Start Datum
          %input.form-input.datepicker{:name => "dates_start[]"}
    .column.col-4
      .form-group
        .input-group
          %span.input-group-addon End Datum
          %input.form-input.datepicker{:name => "dates_end[]"}
    .column.col-2




%form{action: event.exist? ? Backend.routes.eventEdit_path(event.slug) : Backend.routes.eventCreate_path, method: :POST}
  .container
    .columns
      .column.col-3
      .column.col-6
        .form-group
          .input-group
            %span.input-group-addon Typ
            %select.form-input{name: :type}
              - Booking::Events::EventTypes.types.each do |et|
                %option{value: et.type, selected: et.type == event.type}= et.type 
      .column.col-3.top-seperator
    .columns
      .column.col-3
      .column.col-6
        .form-group
          .input-group
            %span.input-group-addon Title
            %input.form-input{:value => event.title, :name => :title}
      .column.col-3




    .columns.top-seperator
      .column.col-3
      .column.col-6
        .form-group
          .input-group
            %span.input-group-addon Ident
            %input.form-input{:value => event.ident, :name => :ident}
      .column.col-2
        .help= t("booking-help-ident")
    .columns.top-seperator
      .column.col-2
      .column.col-4
        .form-group
          .input-group
            %span.input-group-addon Start Datum
            %input.form-input.datepicker{:value => event.html_date(:start_date), :name => :start_date}
      .column.col-4
        .form-group
          .input-group
            %span.input-group-addon End Datum
            %input.form-input.datepicker{:value => event.html_date(:end_date), :name => :end_date}
      .column.col-2
    .columns.top-seperator
      .column.col-2
      .column.col-4
        .form-group
          .input-group
            %span.input-group-addon Teilnehmeranzahl
            %input.form-input{:value => event.attender_slots, :name => :attender_slots}

      .column.col-4
        .form-group
          .input-group
            %span.input-group-addon Protagonisten
            %input.form-input{:value => (event.protagonists.join(",") rescue ""), :name => "protagonists[]"}


      .column.col-12.text-center.top-seperator
        %input.btn.btn-primary{:type => :submit, :value => "Absenden"}    

      .column.col-12.top-seperator
        .form-group
          %textarea#snippet-form.form-input.cm-form{:rows => 15, :name => :content, "data-codemirror-mode" => "text/x-haml"}= event.content
