-# %li
-#   %ul.sub
-#     %li.nav-item
-#       = al(routes.workdays_path, "workdays ", {:icon => "list"})


%li.nav-item.modules-head
  = al(routes.events_path, "events ")
%li
  %ul.sub
    %li.nav-item
      = al(routes.eventCreate_path, "Anlegen ", {:icon => "pencil"})
    %li.nav-item
      = al(routes.eventsArchived_path, "Archiv ", {:icon => "time"})
