!!!
%html{:lang => "de"}
  %head
    - if Habitat.quart.production?
      %link{:href => "/assets/screen.css", :type => "text/css", :rel => "stylesheet"}
  %body
    = # render template: "layout/_header"
    %main
      %div#content.full
        .text-center{:style => "margin-top: 45vh"}
          %form{action: routes.login_path, method: :post}
            %input{type: "text", name: :username}
            %input{type: "password", name: :password}
            %input{type: :submit}
    = # render template: "layout/_footer"
  %script{:src => '/assets/bundle.js'}

