.backend-page-header
  %h1= t("galleries-page-topic-index")

#db-galleries-list
  %ul.main-listing.main-content-block
    - pager.each do |gal|
      = render template: "galleries/_preview", locals: {gallery: gal}
  = pager.navigation
