%li.post-preview{:class => post.css_class }
  .container
    .columns
      .column.col-12.tumblog-preview
        = post.to_html(true)
      .column.col-12
        %p.post-title.text-ellipsis
          %a{:href => routes.tumblogShow_path(post.id)}= "#"
          = post.content
  .post-controls
    .published
    .edit
      %a{:href => routes.tumblogEdit_path(post.slug)}
        .glyphicon.glyphicon-pencil
    .remove
      %a{:href => routes.tumblogDestroy_path(post.slug), :onclick => "return confirm('Are you sure?')" }
        .glyphicon.glyphicon-remove
